<ion-header>
  <ion-navbar color="primary">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<head>
  <style>
    div { 
      background-image: url(assets/imgs/fondo.jpg); 
      background-repeat: no-repeat;
      background-size: 100%;
      
    }
  </style>
</head>
<body>
  <div></div>
</body>
<ion-content padding>
  <div id="titulo">PRODUCTOS</div>
<div id="img0"><img src="assets/imgs/sep.png" width="90%"></div>


  <div id="img1"><img src="assets/imgs/alitaedit.png" width="70%"></div>

  <div id="img2"><img src="assets/imgs/banderillaedit.jpg" width="70%"></div>
  <div id="img3"><img src="assets/imgs/fresasedit.jpg" width="70%"></div>
  <div id="img4"><img src="assets/imgs/papasedit.jpg" width="70%">
  </div>
 
</ion-content>


<style type="text/css">
  #titulo {
    width: 100%;
    text-align: center;
    color: red;
    font-size: 60px;
    font-family: Britannic Bold;
  }
  #img0{
    text-align: center;
  }
  #img1{
    text-align: center;
  }
  #img2{
    text-align: center;
  }
   #img3{
    text-align: center;
  }
   #img4{
    text-align: center;
  }


</style>