<ion-header>
  <ion-navbar color="primary">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<head>
  <style>
    div { 
      background-image: url(assets/imgs/fondo.jpg); 
      background-repeat: no-repeat;
      background-size: 100%;
      
    }
  </style>
</head>
<body>
  <div></div>
</body>
<ion-content padding>
  
<div id="img0"><img src="assets/imgs/barra.jpg" width="100%"></div>

<div id="titulo">Postres Kastro</div>

<div id="img1"><img src="assets/imgs/sep.png" width="90%"></div>

  <div id="img2"><img src="assets/imgs/CARRETE.png" width="90%"></div>

   <div id="img3"><img src="assets/imgs/cupon.png" width="90%"></div>

   <div id="img4"><a href="tabs/tab3"><img src="assets/imgs/contacto.png" width="90%"></a></div>
</ion-content>


<style type="text/css">
  #titulo {
    width: 100%;
    text-align: center;
    color: red;
    font-size: 60px;
    font-family: Britannic Bold;
  }
  #img0{
    text-align: center;
    width: 100%;
  }
  #img1{
    text-align: center;
  }
  #img2{
    text-align: center;
  }
  #img3{
    text-align: center;
  }
   #img4{
    text-align: center;
  }
  }

</style>
