<ion-header>
  <ion-navbar color="primary">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<head>
  <style>
    div { 
      background-image: url(assets/imgs/fondo.jpg); 
      background-repeat: no-repeat;
      background-size: 100%;
      
    }
  </style>
</head>
<body>
  <div></div>
</body>
<ion-content padding>
  <div id="titulo">CONTACTO</div>
<div id="img0"><img src="assets/imgs/sep.png" width="90%"></div>


<div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.8625010585606!2d-99.11690118519431!3d19.461494186867856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f968fb10ce3f%3A0x3fe9c70a4cae0471!2sEl%20Kastro%201%20Postres%2C%20Alitas%2C%20Costillas!5e0!3m2!1ses-419!2smx!4v1601082390965!5m2!1ses-419!2smx" width="300" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
<div id="texto"><img src="assets/imgs/texto.png" width="90%"> </div>

 
</ion-content>


<style type="text/css">
  #titulo {
    width: 100%;
    text-align: center;
    color: red;
    font-size: 60px;
    font-family: Britannic Bold;
  }
  #img0{
    text-align: center;
  }
  #img1{
    text-align: center;
  }
   #map{
    text-align: center;
  }
  #texto{
    text-align: center;
  }
</style>